.content{
    margin: 5%;
  }
  
  .content h1{
    text-align: center;
    padding-bottom: 5%;
  }

  .content h2{
    padding-top: 25px;
  }
.content p{
  padding-top: 7px;
}
.content ul{
  padding-top: 10px;
  font-size: 19px;
}

.content iframe{
  padding-top: 20px;
  display: block;
  margin: auto;
  width:560px;
  height:315px;
  text-align: center;
}